<template>
  <div class="random-data">
    <b-overlay :show="isBusy" rounded="sm">
    <p>
      <button class="btn-random" @click="generateData">Generate Random Data</button>
    </p>
 
  

  <div class="overflow-auto"  v-show="show">
   <div>
        <b-form-group
          label="Filter"
          label-for="filter-input"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              id="filter-input"
              v-model="filter"
              type="search"
              placeholder="Type to Search"
            ></b-form-input>
          
            <b-input-group-append>
              <b-button :disabled="!filter" @click="search">Search</b-button>
            </b-input-group-append>

            <b-input-group-append>
              <b-button :disabled="!filter" @click="searchVal = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>


    <b-table
      id="my-table"
      striped hover bordered :items="users"
       :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
      :filter="searchVal"
      small
      
    >

    <!-- A virtual composite column -->
     
<template #head(salQ1)="">
        
        <!-- As `row.showDetails` is one-way, we call the toggleDetails function on @change -->
        <b-form-checkbox v-model="chk_salQ1">
         Salary in QI
        </b-form-checkbox>
      </template>
      <template #head(salQ2)="data">
        
        <!-- As `row.showDetails` is one-way, we call the toggleDetails function on @change -->
        <b-form-checkbox v-model="chk_salQ2"  @click="fnSal(data)" >
         Salary in Q2
        </b-form-checkbox>
      </template>
      <template #head(salQ3)="data">
        
        <!-- As `row.showDetails` is one-way, we call the toggleDetails function on @change -->
        <b-form-checkbox v-model="chk_salQ3"  @click="fnSal(data)">
         Salary in Q3
        </b-form-checkbox>
      </template>
      <template #head(salQ4)="data">
        
        <!-- As `row.showDetails` is one-way, we call the toggleDetails function on @change -->
        <b-form-checkbox v-model="chk_salQ4" @click="fnSal(data)">
         Salary in Q4
        </b-form-checkbox>
      </template>
<template #cell(totalsalary)="">
 {{ 
total
   
    }}          
      </template>
  
    <template #cell(actions)="data">
       <button type="button" class="btn btn-primary btn-sm" @click="info(data.item, data.index, $event.target)">Edit</button>
          <button type="button" class="btn btn-danger btn-sm" @click="onDelete(data)">Delete</button>
          
      </template>
  
    </b-table>
    <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
        last-number
      ></b-pagination>
 <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
      <pre>{{ infoModal.content }}</pre>
      <!-- <div>
    First Name:
    <input type="text" v-model="infoModal.content.name" :disabled="!isEditing"
           :class="{view: !isEditing}">
  </div> -->
    </b-modal>  
    
  </div>
   </b-overlay>
  </div>
</template>

<script>
import Vue from "vue";
Vue.use(require('vue-faker'));

export default {
  name: 'RandomData',
  
data(){

  return {
    perPage: 25,
    currentPage: 1,
    users:[],
    show:false,
    isBusy:false, 
    chk_salQ1:true,
    chk_salQ2:true,
    chk_salQ3:false,
    chk_salQ4:false,
    filter: null,
    searchVal:'',
    totalSal:0,
    filterOn: [],
     infoModal: {
          id: 'info-modal',
          title: '',
          content: ''
        },
    fields:[
      { key: 'id', label: 'ID' },
      { key: 'jobTitle', label: 'Job Title' },
      { key: 'email_address', label: 'Email Address' },
      { key: 'name', label: 'First Name    Last name' },
      { key: 'country', label: 'Country' },
      { key: 'salQ1', label: 'Salary in Q1' },
      { key: 'salQ2', label: 'Salary in Q2' },
      { key: 'salQ3', label: 'Salary in Q3' },
      { key: 'salQ4', label: 'Salary in Q4' }, 
      {
           //Custom formatter -Total Salary
            key: 'totalsalary',
            label: 'Total Salary',
           
      },
      {
           //Custom formatter -Total Hours
            key: 'totalhours',
            label: 'Total Hours',
            formatter: (value, key, item) => {
              return  parseInt(item.hoursQ1) + parseInt(item.hoursQ2)
            }
         },
         { key: 'actions', label: 'Actions View & Delete' ,slot_name: "actions"},
    ]
  }
},
  computed: {
      rows() {
        return this.users.length
      },
      items () {
			return this.searchVal
			//	? this.users.filter(item => item.name.includes(this.searchVal) ||item.email_address.includes(this.searchVal) ||item.country.includes(this.searchVal))
			?JSON.stringify(this.users).includes(this.searchVal)
      : this.users
		},
    total: function() {
      let that = this;
      return this.users.reduce(function(a, c){
      // console.log(c.totalSal);
      let total = 0;
      console.log(a);
        if(that.chk_salQ1)
        total += parseInt(a);
        else
        total =c.salQ1-a;
        return  total;
        
        }, 0)
    }
	
    },
  /*Generate Ramdom Data using faker.js */
  methods: {
    generateData: function(){
     this.isBusy = true;
     let employee =[];
      for (let id=1; id <= 10000; id++) {
        let jobTitle = this.$faker().name.jobTitle();
        let email = this.$faker().internet.domainName();
        let firstName = this.$faker().name.firstName();
        let lastName = this.$faker().name.lastName();
        let country =  this.$faker().address.country();
        let salQ1 = this.$faker().finance.amount(1000,5000,0);
        let salQ2 = this.$faker().finance.amount(1000,5000,0);
        let salQ3 = this.$faker().finance.amount(1000,5000,0);
        let salQ4 = this.$faker().finance.amount(1000,5000,0);
        let hoursQ1 = this.$faker().datatype.number({min:600, max:1000}); 
        let hoursQ2 = this.$faker().datatype.number({min:600, max:1000}); 
        let hoursQ3 = this.$faker().datatype.number({min:600, max:1000}); 
        let hoursQ4 = this.$faker().datatype.number({min:600, max:1000}); 
        employee.push({
          "id": id,
          "jobTitle": jobTitle,
          "email_address": firstName+'_'+lastName+'@'+email,
          "name": firstName + ' ' + lastName,
          "country": country,
          "salQ1": salQ1,
          "salQ2": salQ2,
          "salQ3": salQ3,
          "salQ4": salQ4,
          "hoursQ1": hoursQ1,
          "hoursQ2": hoursQ2,
          "hoursQ3": hoursQ3,
          "hoursQ4": hoursQ4,
          "totalSal":0
        });
      }
      this.users = employee;
      this.show = true; 
      this.isBusy = false;
    },
    resetInfoModal() {
        this.infoModal.title = ''
        this.infoModal.content = ''
    },
    onDelete(data) {
    
      let pageIndex = data.index;
      let index = this.currentPage *pageIndex;
      if(this.currentPage > 1){
          pageIndex ++;
           index = (this.currentPage *pageIndex)-1;
      }
       this.users.splice(index, 1);
    },
     info(item, id,button) {
       console.log(item);
         console.log(id);
        
        this.infoModal.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', this.infoModal.id, button)
      },
      search(){
       this.searchVal = this.filter
      },
      
  }
 
}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.btn-random{
  font-size: bold;
}
</style>
