<template>
  <div class="random-data">
    <b-overlay :show="isBusy" rounded="sm">
    <p>
      <button class="btn-random" @click="generateData">Generate Random Data</button>
    </p>
 
  

  <div class="overflow-auto"  v-show="show">
   <div>
        <b-form-group
          label="Filter"
          label-for="filter-input"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              id="filter-input"
              v-model="filter"
              type="search"
              placeholder="Type to Search"
            ></b-form-input>

            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>


    <b-table
      id="my-table"
      striped hover bordered :items="users"
       :fields="fields"
      :per-page="perPage"
      :current-page="currentPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      small
      
    >

    <!-- A virtual composite column -->
     


    <template #cell(actions)="data">
       <button type="button" class="btn btn-primary btn-sm" @click="info(data.item, data.index, $event.target)">Edit</button>
          <button type="button" class="btn btn-danger btn-sm" @click="onDelete(data.index)">Delete</button>
          
      </template>
  
    </b-table>
    <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        first-number
        last-number
      ></b-pagination>
 <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @hide="resetInfoModal">
      <pre>{{ infoModal.content }}</pre>
      <div>
    First Name:
    <input type="text" v-model="infoModal.content.name" :disabled="!isEditing"
           :class="{view: !isEditing}">
  </div>
    </b-modal>  
    
  </div>
   </b-overlay>
  </div>
</template>

<script>
import Vue from "vue";
Vue.use(require('vue-faker'));

export default {
  name: 'RandomData',
  
data(){

  return {
    perPage: 25,
    currentPage: 1,
    users:[],
    show:false,
    isBusy:false,
    filter: null,
    filterOn: [],
     infoModal: {
          id: 'info-modal',
          title: '',
          content: ''
        },
    fields:[
      { key: 'id', label: 'ID' },
      { key: 'jobTitle', label: 'Job Title' },
      { key: 'email_address', label: 'Email Address' },
      { key: 'name', label: 'First Name    Last name' },
      { key: 'country', label: 'Country' },
      { key: 'salQ1', label: 'Salary in Q1' },
      { key: 'salQ2', label: 'Salary in Q2' },
      { key: 'salQ3', label: 'Salary in Q3' },
      { key: 'salQ4', label: 'Salary in Q4' }, 
      {
           //Custom formatter -Total Salary
            key: 'totalsalary',
            label: 'Total Salary',
            formatter: (value, key, item) => {
              return  item.salQ2 + item.salQ1
            }
      },
      {
           //Custom formatter -Total Hours
            key: 'totalhours',
            label: 'Total Hours',
            formatter: (value, key, item) => {
              return  item.hoursQ1 + item.hoursQ2
            }
         },
         { key: 'actions', label: 'Actions View & Delete' ,slot_name: "actions"},
    ]
  }
},
  computed: {
      rows() {
        return this.users.length
      },
      items () {
			return this.filter
				? this.users.filter(item => item.name.includes(this.filter) ||item.email_address.includes(this.filter) ||item.country.includes(this.filter))
				: this.users
		}
	
    },
  /*Generate Ramdom Data using faker.js */
  methods: {
    generateData: function(){
     this.isBusy = true;
     let employee =[];
      for (let id=1; id <= 1000; id++) {
        let jobTitle = this.$faker().name.jobTitle();
        let email = this.$faker().internet.domainName();
        let firstName = this.$faker().name.firstName();
        let lastName = this.$faker().name.lastName();
        let country =  this.$faker().address.country();
        let salQ1 = this.$faker().finance.amount(1000,5000,0);
        let salQ2 = this.$faker().finance.amount(1000,5000,0);
        let salQ3 = this.$faker().finance.amount(1000,5000,0);
        let salQ4 = this.$faker().finance.amount(1000,5000,0);
        let hoursQ1 = this.$faker().datatype.number({min:600, max:1000}); 
        let hoursQ2 = this.$faker().datatype.number({min:600, max:1000}); 
        let hoursQ3 = this.$faker().datatype.number({min:600, max:1000}); 
        let hoursQ4 = this.$faker().datatype.number({min:600, max:1000}); 
        employee.push({
          "id": id,
          "jobTitle": jobTitle,
          "email_address": firstName+'_'+lastName+'@'+email,
          "name": firstName + ' ' + lastName,
          "country": country,
          "salQ1": salQ1,
          "salQ2": salQ2,
          "salQ3": salQ3,
          "salQ4": salQ4,
          "hoursQ1": hoursQ1,
          "hoursQ2": hoursQ2,
          "hoursQ3": hoursQ3,
          "hoursQ4": hoursQ4
        });
      }
      this.users = employee;
      this.show = true; 
      this.isBusy = false;
    },
    resetInfoModal() {
        this.infoModal.title = ''
        this.infoModal.content = ''
    },
    onDelete(index) {
       this.users.splice(index, 1);
    },
     info(item, id,button) {
       console.log(item);
         console.log(id);
        
        this.infoModal.content = JSON.stringify(item, null, 2)
        this.$root.$emit('bv::show::modal', this.infoModal.id, button)
      },
       
  }
 
}


</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.btn-random{
  font-size: bold;
}
</style>
