<template>
  <div id="app">
    <RandomData/>
   <!-- <DataTable/> -->
  </div>
</template>

<script>

import RandomData from './components/RandomData';
//import DataTable from './components/DataTable';
export default {
  name: 'App',
  components: {
    RandomData,
   // DataTable
  },
  data() {
    return{
      msg:'Hello'
    }
  }
}
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
}
</style>
